/* Раздел приветствие */

.HiClub_title {
    color: white;
    font-size: 150px;
    font-weight: 700;
    font-family: 'Montserrat700', sans-serif;
}

.HiClub_text {
    font-size: 18px;
}

.HiClub {
    background-color: #181818;
}
.HiClub p {
    color: white;
}

.HiClub_img {
    width: 100%;
    height: auto;
}

.HiClub_text {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
