* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181b22;
    position: relative;
}

:root {
    --sideBlock-width: 400px;
    --block-width: 1200px;
}

.events {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks {
    height: inherit;
    width: var(--block-width);

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.carousel {
    height: 700px;
    overflow: scroll;
}

.carousel::-webkit-scrollbar { 
    width: 0; 
}

.sideBlock {
    height: auto;
    width: var(--sideBlock-width);
    display: flex;
    flex-direction: column-reverse;
}

.sideBlock > * > div {
    cursor: pointer;
}

.box{
    position: relative;
    width: inherit;
    height: 300px;
    transform: translateY(150px);
    color: white;
    margin: 0 auto;
    margin-bottom: 24px;
}

.box > div {
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    /* background: linear-gradient(220deg, #3d45b1, #844efc); */
    
    transform-origin: top center;
    will-change: transform;
    overflow: hidden;
}

.mainBlock{
    height: 650px;
    width: calc(var(--block-width) - var(--sideBlock-width) - 35px);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}