* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181b22;
    position: relative;
}

:root {
    --sideBlock-width: 300px;
    --block-width: 800px;
}

.events {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks {
    height: inherit;
    width: 800px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.carousel {
    height: 500px;
    overflow: scroll;
}

.carousel::-webkit-scrollbar { 
    width: 0; 
}

.sideBlock {
    height: auto;
    width: 300px;
}

.box{
    position: relative;
    width: inherit;
    height: 250px;
    color: white;
    margin: 0 auto;
    margin-bottom: 24px;
}

.box > div {
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
    background: linear-gradient(220deg, #3d45b1, #844efc);
    
    transform-origin: top center;
    will-change: transform;
    overflow: hidden;
}

.mainBlock{
    height: 500px;
    width: calc(var(--block-width) - var(--sideBlock-width) - 20px);
}