body {
    font-size: 40px;
    /* font-family: 'Times New Roman', Arial; */
    margin: 0;
    padding: 0;
}

.events {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blocks {
    height: 85vh;
    width: 85vw;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel {
    width: 30%;
    height: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.carousel > button {
    height: 5vh;
    width: 5vh;
    padding: 0;

    /* font-size: 50px; */
    background-color: rgba(76, 245, 104, 0.637);
    border-radius: 100%;
    border-color: transparent;
}

.carousel > button:hover {
    background-color: rgba(62, 202, 85, 0.637);
}

.carousel > button:active {
    background-color: rgba(48, 156, 66, 0.637);
}

.carousel > button:focus {
    outline: none;
}

.wrapper {
    height: 70vh;
    width: 100%;
    overflow-y: hidden;
}

.container {
    width: 100%;
    overflow: scroll;
}

.sideBlock {
    height: 70vh;
    width: 100%;

    transform: translateY(calc((70vh/3)*7)); /* координата блока на уровне 3 с конца*/

    transition: 1s ease-in-out;

    display: flex;
    flex-direction: column-reverse;
}

.sideBlock > div {
    min-height: calc(70vh/3);
    position: relative;

    display: flex;
    align-items: flex-end;
}

.mainBlock {
    height: 70vh;
    width: 67.5%;

    border-left: 25px thistle;

    position: relative;
}

.mainBlock > div {
    height: 15%;
    width: 100%;

    z-index: 1;
    position: absolute;
    float: left;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: flex-end;
}
