@import url('../styles/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');


section {
  width: 100%;
  height: 100vh;
}


/* Начальный экран */

.hello_div {
    background: linear-gradient(90deg, rgba(22, 163, 226, 1) 0%, rgba(152, 34, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hello_div_h1 {
    font-size: 12.5rem;
    text-transform: uppercase;
    font-family: 'Roboto',
    sans-serif;
}

/* Раздел приветствие */

.HiClub {
  background-color: #9176DE;
}
.HiClub p {
  color: white;
}

.HiClub_img {
  width: 100%;
  height: auto;
}

.HiClub_title {
  font-size: 150px;
  font-weight: 700;
  font-family: 'Montserrat700',
  sans-serif;
}

.HiClub_text {
  font-size: 40px;
  font-family: 'Montserrat',
  sans-serif;
}

/* Участники */


.members {
  background-image: url('https://klike.net/uploads/posts/2019-06/1561182942_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.remember {
  width: 100%;
  height: 500px;
}

.memberBlock {
  width: 100%;
  height: auto;
}

.member_padding {
  padding: 5%;
}

.member {
  max-width: 85% !important;
  margin: auto;
  display: block !important;
  background-color: #181818;
}

.container_photo {
  width: 257.5px;
  height: 257.5px;
  overflow: hidden;
  border-radius: 200px;
  margin: 0 0 10% 10%;
}

.member_photo {
  width: 100%;
  height: auto;
}

.short_bio,
.member_desc,
.member_cv,
.member_cv:hover {
  color: white;
}

.member_cv {
  text-decoration: underline;
}

.member_name {
  font-size: 50px;
}

.member_faculty, .member_age, .member_cv {
  font-size: 30px;
}

.member_desc {
  font-size: 40px;
}

.slick-next, .slick-prev {
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 7%;
  z-index: 999;
  background-color: rgb(0 0 0 / 66%);
  border: none;
}
.slick-next{
  right: 0;
}

.fas {
  color: white;
  font-size: xx-large;
}


/* подвал сайта */

.footer {
  width: 100%;
  height: auto;
  padding: 5% 0;
  background-color: black;
}

.contact,
.text_soc,
.h1_contact,
.contact a {
  color: white;
  margin-bottom: 10%;
}

.h1_contact {
  font-size: 90px;
  font-weight: bold;
}
.contact,
.text_soc {
  font-size: 24px;
}

.container_for_soc {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50px;
  margin: 5%;
}

.container_for_soc img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hello_div_h1 {
    font-size: 9rem;
  }

  .HiClub_title {
    font-size: 75px;
  }

  .slick-next,
  .slick-prev {
    display: none;
  }

  .member_name {
    font-size: 40px;
  }

  .member_desc {
    font-size: 30px;
  }
}

@media screen and (max-width: 576px) {
  .hello_div_h1 {
    font-size: 5rem;
  }

  .HiClub_text {
    font-size: 25px;
  }
}









/* :root {
  --border-width: 1px;
  --box-width: 400px;
  --sideBlock-width: calc(var(--box-width) + 2*var(--border-width));
  --blocks-width: 1700px;
  --title-height: 55px;
  --mainBlock-width: calc(var(--blocks-width) - var(--sideBlock-width) - 135px);
  --title-background: #202020;
  --content-background: #272727cc;
  --member-card-background: url(https://klike.net/uploads/posts/2019-06/1561182942_2.jpg);
} */

/* ________________________ГАЛЕРЕЯ_______________________________ */
/* 
.events {
  height: 100vh;
  width: 100%;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  
  background-color: #181818;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  box-sizing: border-box;
}

.blocks {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.blockDate {
  height: 500px;
  width: 50px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 40px;
}

.carouselGallery {
  height: 700px;
  overflow-y: scroll;
  overflow-x: visible;
}

.carouselGallery::-webkit-scrollbar { 
  width: 0; 
}

.sideBlock {
  height: auto;
  width: var(--sideBlock-width);
  display: flex;
  flex-direction: column-reverse;
  overflow: visible;
}

.sideBlock > * > div {
  cursor: pointer;
}

.sideBlock > .box:last-child() > div{
  cursor: default;
}

.box{
  position: relative;
  width: var(--box-width);
  height: 300px;
  transform: translateY(150px);
  color: white;
  margin: 0 auto;
  margin-bottom: 24px;

  border: 0px solid #00000000;
  
  filter: grayscale(85%);
}

.box > div {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  
  transform-origin: top center;
  will-change: transform;
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sup_layer {
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  
  display: flex;
  align-items: flex-end;
  text-align: center;
  
  opacity: 0.0;
  z-index: 10;
  transition-duration: 0.3s;
}

.active .sup_layer:hover {
  opacity: 1.0;  
}

.active.box{
  filter: grayscale(0);
  border-width: var(--border-width);
  border-style: solid;
  border-color: rgb(255, 255, 255);
  transition-property: border;
  transition-duration: 0.5s;
}

.sup_layer > span {
  height: 70px;
  width: inherit;
  
  background-color: var(--title-background);
  font-size: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBlock {
  height: 650px;
  width: 65%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

#content {
  height: 100%;
  width: 100%;
  
  background-color: var(--content-background);
  
  transform: translateY(calc(100% - var(--title-height) - 15px));
  transition: 0.5s;
}

#content:hover {
  transform: translateY(0);
}

#description > a {
  color: #ffffff;
}

#description > a:focus {
  outline: none;
}

#title {
  min-height: var(--title-height);
  max-width: 100%;
  padding-left: 25px;
  padding-top: 15px;
  
  background-color: var(--title-background);
  font-size: 30px;
}

#description {
  width: calc(100% - 160px);
  margin: 30px auto 0 auto;
  padding-bottom: 30px;
  font-size: 22px;
  max-height: 520px;
  overflow: auto;
} */