body {
    font-size: 50px;
    font-family: 'Times New Roman', Arial;
}
.titleText {
    font-size: 200px;
    text-align: center;
    
   text-transform: uppercase;
    background:  linear-gradient(90deg, rgba(22,163,226,1) 0%, rgba(152,34,255,1) 100%);
    
        
   font-family: 'Montserrat', sans-serif;
    
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    
}

.events {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blocks {
    height: 70vh;
    width: 85vw;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* background-color: darkorange; */
}

.sideBlock {
    width: 25%;
    height: inherit;

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    
    /* background-color: darkorchid; */
}

.sideBlock > div {
    /* height: calc(80%/3); */

    display: flex;
    align-items: flex-end;

    padding: 0px 20px ;

    background-color: greenyellow;
}

/* .sideBlock > div > span {
    background-color: #3d3d3d6c;
} */

.sideBlock > div:first-child {
    background-color: aqua;
}

.sideBlock > div:last-child {
    background-color: rgb(43, 220, 226);
}

.mainBlock {
    width: 70%;
    height: inherit;
    
    background-color: darkseagreen;

    position: relative;
}

.mainBlock > div {
    height: 15%;
    width: 100%;

    /* background-color: rgba(128, 128, 128, 0.5); */

    z-index: 1;
    position: absolute;
    float: left;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: flex-end;
}
.mainBlock > div > p {
    margin: 0;
}