/*Стили формы теста определения спеиальности*/

/*Для спрятанной кнопки ПРОЙТИ ТЕСТ ЗАНОВО*/
.hidden
{
    display:none!important
}

h1.heading
{
    font-size:2.9rem;
    font-weight:700
}

.test
{
    color: white;
    font-size:1.8rem;
    line-height:120%
}

.test.paragraph.accent .accent.profession
{
    display:block;
    font-size:1em;
    font-weight:700
}

.visually-hidden
{
    width:1px;
    height:1px;
    clip:rect(1px,1px,1px,1px);
    position:absolute;
    font-size:0
}

.wrap
{
    color: white;
    display:flex;
    align-items:center;
    width:100%;
    min-height:100vh;
    padding:60px 10px;
    font-size:1.8rem;
    background-position:-25px -50px;
    background-size:calc(100% + 50px);
    transition:background-image 1s,background-size 1s,color 1s,font-weight .2s;
    background-color: #181818;
}

.test.container
{
    color: white;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:915px;
    min-height:600px;
    margin-left:auto;
    margin-right:auto;
    padding:120px 200px;
    border:6px solid #fff;
    transition:background-color 1s;
    background-color: #181818;
}

.test.choice
{
    position:relative;
    margin-top:80px
}

.test.choice::before
{
    content:'';
    position:absolute;
    width:100%;
    height:2px;
    top:-40px
}

.test.form.counter
{
    display:block;
    text-align:center;
    margin:2.5rem 0
}

.test.form.counter::after
{
    content:"/12"
}

.test.form.pair.label
{
    display:block
}

.test.form.pair.label:hover
{
    cursor:pointer
}

/*Стили для кружочков выбора ответа*/
.test.form.pair.label+.test.form.pair.label
{
    margin-top:2.5rem
}

.test.form.pair.input
{
    position:absolute;
    width:1px;
    height:1px;
    clip:rect(1px,1px,1px,1px)
}

.test.form.pair.input:checked~.test.form.pair.text::before
{
    border-width:7px;
    animation:elastic .25s 1 ease-in
}

.test.form.pair.text
{
    position:relative;
    display:block;
    padding-left:3.3rem
}


.test.form.pair.text::before
{
    content:"";
    position:absolute;
    left:0;
    top:calc(50% - 1.1rem);
    display:block;
    width:2.2rem;
    height:2.2rem;
    border-style:solid;
    border-radius:50%;
    border-width:1px
}

/*Стили для клавиш управления тестом*/
.test.buttons
{
    display:flex;
    flex-wrap:nowrap;
    margin-top:50px
}

/*Отсутуп между отображаемыми кнопками управления тестом*/
.test.button.nav:not([hidden])+.test.button.nav
{
    margin-left:50px
}

.test.button
{
    position:relative;
    flex-grow:1;
    padding:1.3rem;
    border:1px solid;
    background-color:transparent;
    cursor:pointer;
    transition:font-weight .2s,border-color 1s,color 1s
}

@media (min-width: 641px) and (max-width: 1000px)
{
    .test.container
    {
        width:90%;
        padding:120px
    }
}

@media (max-width: 640px)
{
    html
    {
        font-size:52.5%
    }
    .wrap
    {
        padding:10px 10px 30px 10px;
        transition:none
    }
    .test.container
    {
        width:100%;
        padding:90px 25px 40px;
        min-height:auto
    }
    .test.container::before
    {
        left:25px;
        top:45px;
        font-size:1.9rem;
        transform:inherit
    }
    .test.container::after
    {
        content:initial
    }
    .test.form.counter
    {
        font-size:1.5rem;
        margin:1.8rem 0
    }
    .test.buttons
    {
        margin-top:25px
    }
    .test.button.nav+.test.button.nav
    {
        margin-left:20px
    }
}
